-- Check Constraint Disable's for Table: [SalesLT].[SalesOrderHeader]
Print 'Check Constraint Disable''s for Table: [SalesLT].[SalesOrderHeader]'
ALTER TABLE [SalesLT].[SalesOrderHeader] NOCHECK CONSTRAINT [CK_SalesOrderHeader_DueDate]
ALTER TABLE [SalesLT].[SalesOrderHeader] NOCHECK CONSTRAINT [CK_SalesOrderHeader_Freight]
ALTER TABLE [SalesLT].[SalesOrderHeader] NOCHECK CONSTRAINT [CK_SalesOrderHeader_ShipDate]
ALTER TABLE [SalesLT].[SalesOrderHeader] NOCHECK CONSTRAINT [CK_SalesOrderHeader_Status]
ALTER TABLE [SalesLT].[SalesOrderHeader] NOCHECK CONSTRAINT [CK_SalesOrderHeader_SubTotal]
ALTER TABLE [SalesLT].[SalesOrderHeader] NOCHECK CONSTRAINT [CK_SalesOrderHeader_TaxAmt]

-- Foreign Key Constraint Disable's for Table: [SalesLT].[SalesOrderHeader]
Print 'Foreign Key Constraint Disable''s for Table: [SalesLT].[SalesOrderHeader]'
ALTER TABLE [SalesLT].[SalesOrderHeader] NOCHECK CONSTRAINT [FK_SalesOrderHeader_Address_BillTo_AddressID]
ALTER TABLE [SalesLT].[SalesOrderHeader] NOCHECK CONSTRAINT [FK_SalesOrderHeader_Address_ShipTo_AddressID]
ALTER TABLE [SalesLT].[SalesOrderHeader] NOCHECK CONSTRAINT [FK_SalesOrderHeader_Customer_CustomerID]

-- Trigger Disable's for Table: [SalesLT].[SalesOrderHeader]
Print 'Trigger Disable''s for Table: [SalesLT].[SalesOrderHeader]'
ALTER TABLE [SalesLT].[SalesOrderHeader] DISABLE TRIGGER [uSalesOrderHeader]


-- Insert scripts for table: SalesOrderHeader
PRINT 'Inserting rows into table: SalesOrderHeader'
SET IDENTITY_INSERT [SalesLT].[SalesOrderHeader] ON

-- Warning - Computed columns cannot be listed in INSERT statements
GO

SET IDENTITY_INSERT [SalesLT].[SalesOrderHeader] OFF


