-- Foreign Key Constraint Disable's for Table: [SalesLT].[CustomerAddress]
Print 'Foreign Key Constraint Disable''s for Table: [SalesLT].[CustomerAddress]'
ALTER TABLE [SalesLT].[CustomerAddress] NOCHECK CONSTRAINT [FK_CustomerAddress_Address_AddressID]
ALTER TABLE [SalesLT].[CustomerAddress] NOCHECK CONSTRAINT [FK_CustomerAddress_Customer_CustomerID]


-- Insert scripts for table: CustomerAddress
PRINT 'Inserting rows into table: CustomerAddress'
INSERT INTO [SalesLT].[CustomerAddress] ([CustomerID], [AddressID], [AddressType], [rowguid], [ModifiedDate]) VALUES (29485, 1086, N'Main Office', '16765338-dbe4-4421-b5e9-3836b9278e63', '20030901 00:00:00.000')
INSERT INTO [SalesLT].[CustomerAddress] ([CustomerID], [AddressID], [AddressType], [rowguid], [ModifiedDate]) VALUES (29486, 621, N'Main Office', '22b3e910-14af-4ed5-8b4d-23bbe757414d', '20010901 00:00:00.000')
INSERT INTO [SalesLT].[CustomerAddress] ([CustomerID], [AddressID], [AddressType], [rowguid], [ModifiedDate]) VALUES (29489, 1069, N'Main Office', 'a095c88b-d7e6-4178-a078-2eca44214801', '20010701 00:00:00.000')
GO


