-- Foreign Key Constraint Disable's for Table: [SalesLT].[ProductModelProductDescription]
Print 'Foreign Key Constraint Disable''s for Table: [SalesLT].[ProductModelProductDescription]'
ALTER TABLE [SalesLT].[ProductModelProductDescription] NOCHECK CONSTRAINT [FK_ProductModelProductDescription_ProductDescription_ProductDescriptionID]
ALTER TABLE [SalesLT].[ProductModelProductDescription] NOCHECK CONSTRAINT [FK_ProductModelProductDescription_ProductModel_ProductModelID]


-- Insert scripts for table: ProductModelProductDescription
PRINT 'Inserting rows into table: ProductModelProductDescription'
INSERT INTO [SalesLT].[ProductModelProductDescription] ([ProductModelID], [ProductDescriptionID], [Culture], [rowguid], [ModifiedDate]) VALUES (1, 1199, N'en    ', '9fcbccbf-56cc-48e5-9bf9-42fc99af0968', '20030601 00:00:00.000')
INSERT INTO [SalesLT].[ProductModelProductDescription] ([ProductModelID], [ProductDescriptionID], [Culture], [rowguid], [ModifiedDate]) VALUES (1, 1467, N'ar    ', 'd209db26-918d-4cc5-9792-df7c92be6fd7', '20030601 00:00:00.000')
INSERT INTO [SalesLT].[ProductModelProductDescription] ([ProductModelID], [ProductDescriptionID], [Culture], [rowguid], [ModifiedDate]) VALUES (1, 1589, N'fr    ', 'd8badf1e-da84-4e1b-9cf4-3ed16e128628', '20030601 00:00:00.000')
GO


