-- Check Constraint Disable's for Table: [SalesLT].[SalesOrderDetail]
Print 'Check Constraint Disable''s for Table: [SalesLT].[SalesOrderDetail]'
ALTER TABLE [SalesLT].[SalesOrderDetail] NOCHECK CONSTRAINT [CK_SalesOrderDetail_OrderQty]
ALTER TABLE [SalesLT].[SalesOrderDetail] NOCHECK CONSTRAINT [CK_SalesOrderDetail_UnitPrice]
ALTER TABLE [SalesLT].[SalesOrderDetail] NOCHECK CONSTRAINT [CK_SalesOrderDetail_UnitPriceDiscount]

-- Foreign Key Constraint Disable's for Table: [SalesLT].[SalesOrderDetail]
Print 'Foreign Key Constraint Disable''s for Table: [SalesLT].[SalesOrderDetail]'
ALTER TABLE [SalesLT].[SalesOrderDetail] NOCHECK CONSTRAINT [FK_SalesOrderDetail_Product_ProductID]
ALTER TABLE [SalesLT].[SalesOrderDetail] NOCHECK CONSTRAINT [FK_SalesOrderDetail_SalesOrderHeader_SalesOrderID]

-- Trigger Disable's for Table: [SalesLT].[SalesOrderDetail]
Print 'Trigger Disable''s for Table: [SalesLT].[SalesOrderDetail]'
ALTER TABLE [SalesLT].[SalesOrderDetail] DISABLE TRIGGER [iduSalesOrderDetail]


-- Insert scripts for table: SalesOrderDetail
PRINT 'Inserting rows into table: SalesOrderDetail'
SET IDENTITY_INSERT [SalesLT].[SalesOrderDetail] ON

-- Warning - Computed columns cannot be listed in INSERT statements
INSERT INTO [SalesLT].[SalesOrderDetail] ([SalesOrderID], [SalesOrderDetailID], [OrderQty], [ProductID], [UnitPrice], [UnitPriceDiscount], [rowguid], [ModifiedDate]) VALUES (71774, 110562, 1, 836, 356.8980, 0.0000, 'e3a1994c-7a68-4ce8-96a3-77fdd3bbd730', '20040601 00:00:00.000')
INSERT INTO [SalesLT].[SalesOrderDetail] ([SalesOrderID], [SalesOrderDetailID], [OrderQty], [ProductID], [UnitPrice], [UnitPriceDiscount], [rowguid], [ModifiedDate]) VALUES (71774, 110563, 1, 822, 356.8980, 0.0000, '5c77f557-fdb6-43ba-90b9-9a7aec55ca32', '20040601 00:00:00.000')
INSERT INTO [SalesLT].[SalesOrderDetail] ([SalesOrderID], [SalesOrderDetailID], [OrderQty], [ProductID], [UnitPrice], [UnitPriceDiscount], [rowguid], [ModifiedDate]) VALUES (71776, 110567, 1, 907, 63.9000, 0.0000, '6dbfe398-d15d-425e-aa58-88178fe360e5', '20040601 00:00:00.000')
GO

SET IDENTITY_INSERT [SalesLT].[SalesOrderDetail] OFF


